body {
    margin: 0;

    font: 14px / 1.4 'Montserrat', sans-serif;;
    color: #fff;
    letter-spacing: 0.2px;

    background-color: #252B42;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0 0 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;

    list-style: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



/* Page
=========================*/

.page {
    min-width: 320px;

    overflow: hidden;
}



/* Container
=========================*/

.container {
    width: 100%;
    max-width: 1090px;
    padding: 0 20px;
    margin: 0 auto;
}



/* Btn
=========================*/

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: none;
    border: 0;
    cursor: pointer;

    transition: background-color .2s linear,
    border-color .2s linear;
}

.btn:focus {
    outline: 0;
}

.btn--burger {
    padding: 15px;

    position: absolute;
    bottom: 35px;
    right: 59px;
}

.btn--burger--nav {
    display: none;

    position: static;
}

.btn--burger:hover .burger__span,
.btn--burger:hover .burger__span:before,
.btn--burger:hover .burger__span:after {
    background-color: #FF7B47;
}

.btn--burger:focus .burger__span,
.btn--burger:focus .burger__span:before,
.btn--burger:focus .burger__span:after {
    background-color: #FF7B47;
}

.btn--quote,
.btn--more {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 37px;

    font: 700 14px / 1.5 'Montserrat', sans-serif;;
    color: #fff;
}

.btn--quote {
    width: 187px;
    height: 48px;
    margin-right: 10px;
}

.btn--more {
    width: 157px;
    height: 48px;
}

.btn--quote:hover,
.btn--more:hover,
.btn--quote:focus,
.btn--more:focus {
    background-color: #FF7B47;
    border-color: transparent;
}

.btn--play {
    width: 98px;
    height: 98px;

    border-radius: 50%;
    background-color: #0D5C63;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    font-size: 0;
}

.btn--play:hover,
.btn--play:focus {
    background-color: #0c5359;
}

.btn--play:after {
    content: "";
    display: block;

    border-style: solid;
    border-width: 14.5px 0 14.5px 24px;
    border-color: transparent transparent transparent #ffffff;

    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate3d(-50%, -50%, 0);
}

.btn--subscribe {
    width: 117px;
    min-width: 117px;
    height: 58px;

    background-color: #FF7B47;

    font: 400 14px / 1 'Montserrat', sans-serif;
    color: #fff;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn--subscribe:hover,
.btn-subscribe:focus {
    background-color: #c96239;
}

.btn--contacts {
    width: 160px;
    height: 44px;
    margin: 0 auto;

    font: 600 14px / 1 'Montserrat', sans-serif;
    color: #FF7B47;

    background-color: transparent;
    border: 1px solid #FF7B47;
    border-radius: 5px;
}

.btn--contacts:hover,
.btn--contacts:focus {
    background-color: #FF7B47;
    border-color: transparent;

    color: #fff;
}

.btn--contacts--white {
    color: #fff;

    border-color: #fff;
}

.btn--contacts--bottom {
    width: 163px;
    height: 58px;

    border-color: transparent;
    background-color: #FF7B47;

    color: #fff;

    transition: background-color .2s linear;
}

.btn--contacts--bottom:hover,
.btn--contacts--bottom:focus {
    background-color: #c96239;
}



/* Input
=========================*/

.input {
    display: block;

    border: 0;

    transition: background-color .2s linear;
}

.input:hover,
.input:focus {
    background-color: transparent;

    color: #fff;
}

.input:focus {
    outline: 0;
}

.input--subcribe {
    width: 100%;
    max-width: 333px;
    height: 58px;
    padding: 15px 20px;

    font: 400 14px / 1 'Montserrat', sans-serif;
    color: #000;

    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input--subcribe:hover {
    border-color: #fff;
}

.subscribe__input::placeholder {
    color: #737373;
}



/* Form
=========================*/

.form--clients {
    display: flex;
    width: 100%;
    max-width: 450px;
}



/* Sprite
=========================*/

.header__sprite {
    display: block;
    width: 16px;
    height: 16px;

    fill: #fff;

    transition: fill .2s linear;
}

.header__sprite:hover {
    fill: #FF7B47;
}

.header__sprite--cart {
    width: 16px;
    height: 15px;
}

.nav__link:focus .header__sprite {
    fill: #FF7B47;
}

.wedo__sprite {
    display: block;

    fill: #0D5C63;
}

.wedo__sprite--1 {
    width: 48px;
    height: 40px;
}

.wedo__sprite--2 {
    width: 48px;
    height: 48px;
}

.wedo__sprite--3 {
    width: 48px;
    height: 38px;
}

.wedo__features__item:hover .wedo__sprite {
    fill: #fff;
}

.clients__sprite {
    display: block;

    fill: #BDBDBD;

    transition: fill .2s linear;
}

.clients__sprite:hover {
    fill: #FF7B47;
}

.clients__sprite--clients-1 {
    width: 103px;
    height: 34px;
}

.clients__sprite--clients-2 {
    width: 83px;
    height: 59px;
}

.clients__sprite--clients-3 {
    width: 102px;
    height: 75px;
}

.clients__sprite--clients-4 {
    width: 103px;
    height: 42px;
}

.clients__sprite--clients-5 {
    width: 104px;
    height: 62px;
}

.clients__sprite--clients-6 {
    width: 76px;
    height: 72px;
}

.contacts__sprite {
    display: block;
    margin: 0 auto;

    fill: #FF7B47;
}

.contacts__sprite--1,
.contacts__sprite--2 {
    width: 72px;
    height: 72px;
}

.contacts__sprite--2 {
    fill: #fff;
}

.contacts__sprite--3 {
    width: 69px;
    height: 72px;
}

.footer__sprite {
    display: block;

    fill: #8EC2F2;

    transition: fill .2s linear;
}

.footer__sprite--1 {
    width: 23px;
    height: 23px;
}

.footer__sprite--2 {
    width: 24px;
    height: 30px;
}

.footer__sprite--3 {
    width: 24px;
    height: 25px;
}

.footer__link:hover .footer__sprite,
.footer__link:focus .footer__sprite {
    fill: #FF7B47;
}

.socials__sprite {
    display: block;

    transition: transform .2s linear;
}

.socials__sprite:hover,
.socials_link:focus .socials__sprite {
    transform: scale(1.1);
}

.socials__sprite--facebook {
    width: 24px;
    height: 24px;

    fill: #335BF5;
}

.socials__sprite--instagram {
    width: 24px;
    height: 24px;

    fill: #E61F5A;
}

.socials__sprite--twitter {
    width: 24px;
    height: 20px;

    fill: #21A6DF;
}

.socials__sprite--youtube {
    width: 24px;
    height: 18px;

    fill: #E42F08;
}



/* Intro
=========================*/

.intro {
    height: 784px;

    background: url("../img/intro/header-bg.jpg") center no-repeat;
    background-size: cover;
}

.intro__wrap {
    display: flex;
}

.intro__item--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    min-width: 380px;
    margin-right: 64px;
}

.intro__item--photo img {
    display: block;
}

.intro__title {
    margin-bottom: 35px;

    font: 800 58px / 1.3 'Montserrat', sans-serif;
    color: #fff;
}

.intro__text {
    margin-bottom: 35px;

    font: 500 20px / 1.5 'Montserrat', sans-serif;
    color: #fff;
}

.intro__btn {
    display: flex;
}



/* Header
=========================*/

.header {
    padding: 36px 0;

    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font: 700 24px / 1.3 'Montserrat', sans-serif;
    color: #fff;
}



/* Nav
=========================*/

.nav__list {
    display: flex;
    align-items: center;

    font: 600 14px / 1.7 'Montserrat', sans-serif;
    color: #fff;
}

.nav__item {
    margin-right: 21px;
}

.nav__item--cart {
    margin-right: 20px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item--search {
    margin-left: 18px;
}

.nav__link {
    transition: color .2s linear;
}

.nav__link:hover,
.nav__link:focus {
    color: #FF7B47;
}

.nav__link:focus {
    outline: 0;
}



/* Burger
=========================*/

.burger__span {
    display: block;
    width: 17px;
    height: 2px;

    background-color: #fff;

    font-size: 0;

    position: relative;
}

.burger__span,
.burger__span:before,
.burger__span:after {
    transition: background-color .2s linear;
}

.burger__span:before,
.burger__span:after {
    content: "";
    display: block;
    height: 100%;

    position: absolute;
    right: 0;

    background-color: #fff;
}

.burger__span:before {
    width: 23px;

    top: -5px;
}

.burger__span:after {
    width: 10px;

    top: 5px;
}



/* Section
=========================*/

.section {
    padding: 80px 0;
}

.section--clients {
    padding: 20px 0 50px;
}

.section--contacts {
    padding-bottom: 40px;
}

.section__header {
    width: 100%;
    max-width: 470px;
    margin: 0 auto 90px;

    text-align: center;
}

.section__title {
    margin-bottom: 10px;

    font: 700 40px / 1.4 'Montserrat', sans-serif;
    color: #fff;
}

.section__text {
    font: 500 14px / 1.7 'Montserrat', sans-serif;
    color: #fff;
}



/* Wedo Features
=========================*/

.wedo__features {
    display: flex;
}

.wedo__features__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 328px;
    height: 142px;
    margin-right: 32px;

    background-color: #F9F9F9;
    border-radius: 5px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, .07);

    transition: background-color .2s linear;
}

.wedo__features__item:last-child {
    margin-right: 0;
}

.wedo__features__item:hover {
    background-color: #0D5C63;
}

.wedo__features__logo--1 {
    margin-bottom: 14px;
}

.wedo__features__logo--2 {
    margin-bottom: 10px;
}

.wedo__features__logo--3 {
    margin-bottom: 15px;
}

.wedo__features__title {
    font: 700 16px / 1.5 'Montserrat', sans-serif;
    color: #252B42;
}

.wedo__features__item:hover .wedo__features__title {
    color: #fff;
}



/* Clients Matters
=========================*/

.clients__matters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(228px, 228px));
    grid-gap: 45px;
    justify-content: center;
}

.clients__matters__item {
    width: 228px;
    height: 342px;

    position: relative;

    background-color: #fff;

    transition: transform .2s linear;
}

.clients__matters__item:hover {
    transform: translateY(-15px);
}

.clients__matters__header {
    padding: 26px;
    padding-bottom: 0;
}

.clients__matters__title {
    margin-bottom: 15px;

    font: 700 16px / 1.5 'Montserrat', sans-serif;
    color: #252B42;
}

.clients__matters__text {
    max-height: 77px;
    overflow: hidden;

    font: 500 14px / 1.4 'Montserrat', sans-serif;
    color: #737373;
}

.clients__photo {
    width: 100%;
    height: 159px;

    position: absolute;
    bottom: 0;
}

.clients__photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* We are
=========================*/

.weare {
    display: flex;
}

.weare__item--video {
    width: 100%;
    max-width: 596px;
    margin-right: 120px;
}

.weare__item--features {
    width: 100%;
    max-width: 333px;
}

.weare__video {
    position: relative;
}

.weare__video img {
    display: block;
    max-width: 100%;
    height: auto;
}

.weare__title {
    margin-bottom: 10px;

    font: 700 40px / 1.4 'Montserrat', sans-serif;
    color: #fff;
}

.weare__text {
    margin-bottom: 50px;

    font: 500 14px / 1.4 'Montserrat', sans-serif;
    color: #fff;
}



/* Weare Features
=========================*/

.weare__features__icon {
    position: absolute;
}

.weare__features__icon img {
    display: block;
}

.weare__features__item {
    margin-bottom: 30px;
}

.weare__features__item:last-child {
    margin-bottom: 0;
}

.weare__features__content {
    padding-left: 52px;
}

.weare__features__title {
    margin-bottom: 5px;
}

.weare__features__text {
    font: 600 14px / 1.7 'Montserrat', sans-serif;
    color: #fff;
}



/* Clients
=========================*/

.clients__logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 135px));
    justify-items: center;
    align-items: center;
    grid-gap: 30px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto 70px;
}



/* Clients Subscribe
=========================*/

.clients__subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 986px;
    padding: 30px 40px 30px 50px;
    margin: 0 auto;

    background-color: #17213C;
}

.clients__subscribe__title {
    width: 266px;
    margin-right: 50px;

    font: 700 24px / 1.3 'Montserrat', sans-serif;
    color: #fff;
}



/* Contacts
=========================*/

.contacts {
    width: 100%;
    max-width: 986px;
    margin: auto;
}

.contacts__inner {
    display: flex;
    align-items: center;
    margin-bottom: 148px;
}

.contacts__item {
    padding: 50px 54px;
    background-color: #fff;

    text-align: center;
}

.contacts__item--center {
    padding: 80px 54px;

    background-color: #0D5C63;
}

.contacts__icon {
    margin-bottom: 20px;
}

.contacts__emails {
    margin-bottom: 15px;
}

.contacts__list {
    display: flex;
    flex-direction: column;

    font: 600 14px / 1.7 'Montserrat', sans-serif;
    color: #252B42;
}

.contacts__list--white {
    color: #fff;
}

.contacts__li a {
    transition: color .2s linear;
}

.contacts__link:hover,
.contacts__link:focus {
    color: #FF7B47;
}

.contacts__link:focus {
    outline: 0;
}

.contacts__title {
    margin-bottom: 15px;

    font: 700 16px / 1.5 'Montserrat', sans-serif;
    color: #252B42;
}

.contacts__title--white {
    color: #fff;
}

.contacts__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.contacts__bottom__content {
    width: 100%;
    max-width: 480px;
}

.contacts__bottom__title {
    margin-bottom: 10px;

    font: 700 24px / 1.3 'Montserrat', sans-serif;
    color: #fff;
}

.contacts__bottom__text {
    font: 500 14px / 1.4 'Montserrat', sans-serif;
    color: #fff;
}



/* Footer
=========================*/

.footer__title {
    margin-bottom: 20px;

    font: 700 16px / 1.5 'Montserrat', sans-serif;
    color: #fff;
}

.footer__list {
    display: flex;
    flex-direction: column;

    font: 600 14px / 1.7 'Montserrat', sans-serif;
    color: #fff;
}

.footer__li {
    margin-bottom: 10px;
}

.footer__li:last-child {
    margin-bottom: 0;
}

.footer__li--contacts {
    margin-bottom: 20px;
}

.footer__link {
    transition: color .2s linear;
}

.footer__link:focus {
    outline: 0;
}

.footer__link:hover,
.footer__link:focus {
    color: #FF7B47;
}

.footer__top {
    padding: 50px 0;

    background-color: #17213C;
}

.footer__top__inner {
    display: flex;
    justify-content: space-between;
}

.footer__li__icon {
    position: absolute;
}

.footer__li__content {
    padding-left: 34px;
}

.footer__bottom {
    padding: 25px 0;
}

.footer__bottom__inner {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}



/* Social
=========================*/

.socials {
    display: flex;
    align-items: center;
}

.socials_link {
    margin-right: 20px;
}

.socials_link:last-child {
    margin-right: 0;
}

.socials_link:focus {
    outline: 0;
}



/* Media
=========================*/

@media (max-width: 1300px) {

    /* Btn */

    .btn--burger {
        display: none;
    }

    .btn--burger--nav {
        display: block;
    }
}



@media (max-width: 1200px) {

    /* container */

    .container {
        max-width: 960px;
    }

    .container--header {
        max-width: 1090px;
    }


    /* Intro */

    .intro__title {
        font-size: 55px;
    }

    /* Section */

    .section {
        padding: 60px 0;
    }

    .section--wedo {
        padding-top: 80px;
    }

    .section__header {
        margin-bottom: 70px;
    }

    /* Сlients Matters */

    .clients__matters {
        grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    }

    .clients__matters__item {
        width: 280px;
        height: 370px;
    }

    .clients__matters__item--3,
    .clients__matters__item--4 {
        grid-row: 2;
    }

    .clients__photo {
        height: 185px;
    }

    /* Weare */

    .weare__item--video {
        margin-right: 70px;
    }

    /* Clients */

    .clients__logos {
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
        justify-content: center;
        grid-gap: 50px;
    }

    .clients__item--4,
    .clients__item--5,
    .clients__item--6 {
        grid-row: 2;
    }

}



@media (max-width: 1090px) {


    /* Weare */

    .weare {
        display: block;
    }

    .weare__item {
        margin: 0 auto;
    }

    .weare__item--video {
        margin-bottom: 50px;
    }

    .weare__item--features {
        max-width: 596px;
    }

}



@media (max-width: 1000px) {

    /* Container */

    .container {
        max-width: 800px;
    }

    .container--header {
        max-width: 1090px;
    }


    /* Intro */

    .intro {
        height: auto;
    }

    .intro__title {
        margin-bottom: 30px;

        font-size: 53px;
    }

    .intro__item--text {
        margin-right: 30px;
    }

    .intro__item--photo img {
        width: 420px;
        height: auto;
    }


    /* Clients */

    .clients__subscribe__title {
        font-size: 23px;
    }


}



@media (max-width: 840px) {

    /* Container */

    .container {
        max-width: 740px;
    }

    .container--header {
        max-width: 1090px;
    }

}



@media (max-width: 767px) {


    /* Intro */

    .intro__content {
        margin-top: 100px;
    }

    .intro__wrap {
        display: block;
    }

    .intro__item--text {
        margin-right: 0;
    }

    .intro__item {
        margin: 0 auto;
    }

    .intro__item--photo {
        margin-top: 40px;
    }

    .intro__item--photo img {
        width: 380px;
        margin: 0 auto;
    }

    /* Nav */

    .nav__item {
        display: none;
    }

    .nav__item--search,
    .nav__item--cart,
    .nav__item--burger {
        display: block;
    }

    /* Wedo Features */

    .wedo__features {
        display: block;
    }

    .wedo__features__item {
        margin: 0 auto 30px;
    }

    .wedo__features__item:last-child {
        margin-right: auto;
        margin-bottom: 0;
    }

    /* Section */

    .section--clients {
        padding-top: 60px;
    }

    .section__header {
        margin-bottom: 70px;
    }

    /* Сlients Matters */

    .clients__matters {
        grid-template-columns: 100%;
        justify-items: center;
    }

    .clients__matters__item--1 {
        grid-row: 1;
    }

    .clients__matters__item--2 {
        grid-row: 2;
    }

    .clients__matters__item--3 {
        grid-row: 3;
    }

    .clients__matters__item--4 {
        grid-row: 4;
    }


    /* Clients */

    .clients__subscribe {
        display: block;
    }

    .clients__subscribe__title {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .clients__item--3,
    .clients__item--5 {
        grid-row: 2;
    }

    .clients__item--4,
    .clients__item--6 {
        grid-row: 3;
    }

    .clients__logos {
        margin-bottom: 50px;
    }

}



@media (max-width: 490px) {

    /* Intro */

    .intro {
        background-image: url("../img/intro/header-bg-mini.jpg");
    }

    .intro__content {
        margin-top: 70px;
    }

    .intro__title {
        margin-bottom: 35px;

        font-size: 43px;
    }

    .intro__item {
        text-align: center;
    }

    .intro__item--text {
        width: 100%;
        min-width: unset;
    }

    .intro__item--photo img {
        width: 300px;
    }

    /* Btn */

    .intro__btn {
        display: block;
    }

    .btn--quote,
    .btn--more {
        margin: 0 auto;
    }

    .btn--quote {
        margin-bottom: 25px;
    }

    /* Section */

    .section {
        padding: 40px 0;
    }

    .section--clients {
        padding-top: 60px;
    }

    .section--wedo {
        padding-top: 60px;
    }

    .section__header  {
        margin-bottom: 60px;
    }

    .section__title {
        font-size: 38px;
    }


    /* Сlients Matters */

    .clients__matters {
        grid-gap: 30px;
    }

    /* Weare */

    .weare__title {
        font-size: 38px;
    }

    /* Clients */

    .clients__logos {
        grid-template-columns: repeat(auto-fit, minmax(120px, 120px));
    }

    .clients__item--3,
    .clients__item--5 {
        grid-row: 2;
    }

    .clients__item--4,
    .clients__item--6 {
        grid-row: 3;
    }

    .clients__subscribe {
        padding: 30px;
    }

    /* Form */

    .form--clients {
        display: block;
    }

    /* Input */

    .input--subcribe {
        width: 100%;
        max-width: none;

        border-right: 1px solid #E6E6E6;
        border-radius: 5px 5px 0 0;
    }

    /* Btn */

    .btn--subscribe {
        width: 100%;

        border-radius: 0 0 5px 5px;
    }

}


@media (max-width: 400px) {

    .clients__subscribe {
        padding: 30px 15px;
    }

}



@media (max-width: 350px) {

    /* Intro */

    .intro__item--photo img {
        width: 100%;
    }

    /* Clients */

    .clients__logos {
        grid-gap: 40px;
    }

}



@media (max-width: 320px) {

    /* Container */

    .container {
        padding: 0 15px;
    }

    /* Intro */

    .intro__title {
        font-size: 40px;
    }

    .intro__text {
        font-size: 19px;
    }

    /* Section */

    .section__title {
        font-size: 36px;
    }

    /* Weare */

    .weare__title {
        font-size: 36px;
    }

}












